

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

#menu_gauche
{
  background: #222;
  color:#fff;
  text-align: center;
}
#menu_gauche span
{
  font-size: 20px;
  color: #FF6C6C;
}
#menu_gauche p
{
  font-size: 20px;
  color: #fff;
}
hr{
  width:60%;
  border: 1px solid #fff;
}

#menu_droite
{ 
  padding: 20px;
  color: #222;
  font-size: 15px;

}
#menu_droite span
{ 
  font-size: 20px;
  color: #FF6C6C;

}
#nom_prenom
{ padding-left:20px;
  font-size: 70px;
  font-weight: bold;
}
#formation
{
  font-size: 20px;
}
#form{
  font-size: 30px;
}
#form span
{
  font-size: 20px;
  color: #FF6C6C;
}
#exp{
  font-size: 30px;
}
#exp span
{
  font-size: 20px;
  color: #FF6C6C;
}
