audio, canvas, img, video {
	vertical-align: middle;
}
@import url('https://fonts.googleapis.com/css?family=Raleway');
body
{  
	font-family:'Trebuchet MS', Arial, sans-serif;
	margin: 0 !important;
	padding: 0 !important;
}
.box {
	cursor: pointer;
	background: #242424;
	width:300px;
	height: 300px;
	padding: 10px;
	margin-bottom: 30px;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
}
.jR3DCarouselCustomSlide img .fig:hover {
	display: block !important;
}
.title-box{
	color:#FF6C6C;
	font-size: 2em;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
}
.title-box-signaux{
	color:#FF6C6C;
	font-size: 1.5em;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
}
.hvrbox-layer_top h2{
	color:#9d9d9d;
	font-size: 1.2em;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
}
a{
	cursor: pointer;
}

#loader{
	height: 100vh;
	width:100%;
	background-color:black;
	z-index: 50;
	position: absolute;
	top: 0;
	left: 0;
}
.loader{
	width: 100%;
	height: 100%;
	display: inline-block;
	vertical-align: middle;
	position: absolute;
	margin-top: 50vh;
	text-align: center;

}

.loader-quart{
	border-radius: 50px;
	border: 6px solid transparent;
	position: absolute;
	left:48%;
	top:30px;
}
.loader-quart:after{
	content: '';
	position: absolute;
	top: -6px; left: -6px;
	bottom: -6px; right: -6px;
	width: 50px;
	height: 50px;
	border-radius: 50px;
	border-bottom: 1px solid white;
	border-top: 2px solid red;
	animation:spin 1s linear infinite;
}
@keyframes spin{
	0%{ transform: rotate(0deg);}
	100%{ transform: rotate(360deg);}
}


#szlider{
	width:100%;
	height:3px;
	border:1px solid #000;
	overflow:hidden; }
#szliderbar{
	width:37%;
	height:15px;
	border-right: 1px solid #000000;
	background: white; }
#szazalek {
	width: 100%;
	left: 0px;
	color:white;
	font-size: 3em;
	font-style: italic;
	font-weight: bold;
	font-family: 'Raleway', sans-serif;
	position: absolute;
	top: -90px; }
html>body #loader {
	position: fixed;
}


@media (min-width: 768px) {
  .container {
    width: 100% !important;
  }
}
@media (min-width: 992px) {
  .container {
 width: 100% !important;  }
}
@media (min-width: 1200px) {
  .container {
 width: 100% !important;  }
}
@media (max-width: 1098px) {
  .navbar-header {
  	 float: left;
  	 padding: 10px;
    width: 100%;
 	display: block !important;
  }
	.navbar-brand {float:none;}

   #text_nav {
 	display: none !important;
  }
  #text_nav_deux{
  	margin-right: -15px !important;
  }
    #text_nav_trois{
  	margin-right: -15px !important;
 }
    #text_nav_quatre{
  	margin-right: -20px !important;
  	margin-left: -18px !important;
}

}

@media (max-width: 497px) {
  .text_description_profil_span h3{
  	font-size: 40px !important;
  	}
  	 .text_description_profil_span_resp h3{
  	font-size: 40px !important;
  	}
  	.text_description_profil h3{
  	font-size: 40px !important;
  	} 
  	.apropos img{
  		width:80% !important;
  	}
 }
@media (max-width: 643px) {
	.cont span:nth-child(3){
		display:none !important;
	}
}
@media (max-width: 380px) {
	.cont span:nth-child(2){
		display:none !important;
	}
}
@media (max-width: 768px) {
	.navbar-toggle{
		float:none !important;
		margin-right: -15px;
	}
}
@media (max-width: 1024px) {

		.description_profil_deux{
			font-size: 1em;

		}
		.description_profil_trois{
			font-size: 1em;
		}
		.description_profil_quatre{
			font-size: 1em;
		}

}
 #text_nav
 {
 	margin-left:50px; 
 	margin-right:110px; 
 }
#text_nav_deux
{
	margin-top: 20px;
	margin-right: 30px;
}
#text_nav_trois
{
	margin-top: 20px;
	margin-right: 30px;
}
#text_nav_quatre
{
	margin-top: 20px;
	margin-left: 30px;
	margin-right: 10px;
}
#text_nav_cinq
{
	margin-top: 20px;	
}
.image_presentation {
	width: 100%;
	height: 100vh;
	background-image: url(images/fond_new.jpg) !important;
	background-repeat: no-repeat;
	background-size: cover;
}

.content{
	height: 100vh;
	line-height: 100vh;
	width: 100%;
	text-align: center;
}
.content h1 {
	margin: 0;
	font-size: 53px;
	font-weight: bold;
	font-family: 'Raleway', sans-serif;
	color: whitesmoke;
	padding: 0;
	height: 100vh;
	line-height: 100vh;
	width: 100%;
}



.navbar .navbar-inverse
{
	background: #eee;
}
.navbar-inverse {
  text-align:center;
}
.navbar-nav {
    display:inline-block;
    float:none;

}
.navbar-nav a
{
	font-size: 1.5em;
	font-family: 'Raleway', sans-serif;
}
.navbar-header a
{
	font-size: 3em;
	color: #FF6C6C !important;
	font-family: 'Raleway', sans-serif;
}
.navbar-nav a:hover
{
	color:#FF6C6C !important;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form
{
	border-color:#fff !important;
}



.text_description_profil h3
{

	text-align: center;
	color: #4A4845 ;
	font-size:5em;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
}
.text_description_profil span
{
	text-align: center;
	color: #696562 ;
	font-size:0.7em;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
}

#photo_pad{
	padding:20px;
}
@media (max-width: 992px) {
	#photo_pad img{
		width: auto !important;
	}
}

.apropos h2
{
	text-align: center;
	font-size: 2em;
	font-family: 'Raleway', sans-serif;
	text-decoration: none;
	color: #696562;

}
#text_profil span
{
	
	text-align: center;
	font-style: italic;
	color: #FF6C6C;
	font-size: 18px;
	margin-top: 20px;
	font-family: 'Raleway', sans-serif;

}
#text_profil
{   
	text-align: center;
	color: #4A4845;
	font-size: 18px;
	font-family: 'Raleway', sans-serif;
	padding:20px;
} 

#show
{   font-size:15px;
	background: #4A4845;
	color:white;
	box-shadow: 6px 6px 6px #1b1b1b;
	border: 2px solid #1b1b1b;
	border: none;
	outline:none;
}
#hide
{   font-size:15px;
	background: white;
	color:#4A4845;
	box-shadow: 6px 6px 6px #1b1b1b;
	border: 2px solid #1b1b1b;
	border: none;
	outline:none;
}
#hide:hover{
	cursor: pointer;
}
#show:hover{
	cursor: pointer;
}

.description_profil_deux
{
	width:100%;
	background:#222;
	color:#fff;
}

.description_profil_deux p
{
	padding-left: 7%;
	font-size: 1.5em;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	opacity: 0.757776;


}
.description_profil_deux span
{	
	font-style: italic;
	color: #FF6C6C;
}
#photo_descritption_deux a:nth-child(3)
{
	margin-left: 5%;

}
#photo_descritption_deux a:nth-child(2)
{
	margin-left: 5%;

}
#photo_descritption_deux
{
	padding-bottom: 30px;
}


.content_quatre
{
	width: 100%;
	position: relative;
	background-image: url(images/bureau_competence.jpg) !important;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 10px;
}
.text_description_profil_span h3
{

	text-align: center;
	color:white ;
	font-size:5em;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
}
.text_description_profil_span span
{
	text-align: center;
	color: white ;
	font-size:0.7em;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
}

.skillbar {

	text-align: center;
	position:relative;
	display:block;
	margin-bottom:15px;
	width:85%;
	margin-left:7.5%;
	background:#eee;
	height:35px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}

.skillbar-title {

	position:absolute;
	top:0;
	left:0;
	width:110px;
	font-weight:bold;
	font-size:13px;
	color:#ffffff;
	background:#6adcfa;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-title span {
	display:block;
	background:rgba(0, 0, 0, 0.1);
	padding:0 20px;
	height:35px;
	line-height:35px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-bar {
	height:35px;
	width:0px;
	background:#6adcfa;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

.skill-bar-percent {

	position:absolute;
	right:10px;
	top:0;
	font-size:11px;
	height:35px;
	line-height:35px;
	color:black;

}


.content_deux
{
	width: 100%;
	position: relative;
	background-image: url(images/fond1.jpg) !important;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}


.content_deux img{
	margin: 0;
	color: whitesmoke;
	padding: 0;
	opacity: 0.57;
	text-align: center;
	width:40%;
	margin-left: 33%;

}

.text_description_profil_span_resp h3{
	text-align: center;
	color:white ;
	font-size:5em;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
}

.text_description_profil_span_resp span
{
	text-align: center;
	color: white ;
	font-size:0.5em;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
}

.description_profil_trois{
	width:100%;
	background:#222;
	color:#fff
}

.description_profil_trois p
{
	padding-left: 7%;
	font-size: 1.5em;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	opacity: 0.757776;


}

.description_profil_trois span
{	
	font-style: italic;
	color: #FF6C6C;
}


.content_trois
{
	width: 100%;
	position: relative;
	background-image: url(images/imac.png) !important;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
}


.jR3DCarouselGalleryDefault,
.jR3DCarouselGalleryCustom {
   margin: 0 auto;
}

.figcaption{
   position: absolute;
   top:0;
}
.figcaption h1:nth-child(1){
    margin-left: 12%;
    font-weight: bold;
    font-size: 50px;
    box-shadow: 6px 6px 6px #1b1b1b;
    border: 2px solid #1b1b1b;
    background: black;
}

.figcaption a{
    color:#920000;
    font-size: 35px;
    background: #242424;
    box-shadow: 6px 6px 6px #1b1b1b;
    border: 2px solid #1b1b1b;
    text-decoration: none;
}
.figcaption a:hover{
    color:black;
    font-size: 35px;
    background: #920000;
    box-shadow: 6px 6px 6px #1b1b1b;
    border: 2px solid #1b1b1b;
    text-decoration: none;

}

.description_profil_quatre
{
	width:100%;
	background:#222;
	color:#fff;
}
.description_profil_quatre p
{
	padding-left: 7%;
	font-size: 1.5em;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	opacity: 0.757776;
}

.description_profil_quatre span
{	
	font-style: italic;
	color: #FF6C6C;
}


.info_contact p
{
	font-size: 4em;
	color: #4A4845;	
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
}
.info_contact span
{
	font-size: 70px;
	color: #FF6C6C;	

}

.form-style-6{
    font: 95% Arial, Helvetica, sans-serif;
    max-width: 500px;
    margin: 10px auto;
    padding: 16px;
    background: #f2f2f2;
}
.form-style-6 h1{
    background: #d9d9d9;
    padding: 20px 0;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: #956300;
    margin: -16px -16px 16px -16px;
    border: 1px solid #956300;
}
.form-style-6 input[type="text"],
.form-style-6 input[type="date"],
.form-style-6 input[type="datetime"],
.form-style-6 input[type="email"],
.form-style-6 input[type="number"],
.form-style-6 input[type="search"],
.form-style-6 input[type="time"],
.form-style-6 input[type="url"],
.form-style-6 textarea,
.form-style-6 select 
{
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    background: #d9d9d9;
    margin-bottom: 4%;
    border: 1px solid #956300;
    padding: 3%;
    color: #956300;
    font: 95% Arial, Helvetica, sans-serif;
}
.form-style-6 input[type="text"]:focus,
.form-style-6 input[type="date"]:focus,
.form-style-6 input[type="datetime"]:focus,
.form-style-6 input[type="email"]:focus,
.form-style-6 input[type="number"]:focus,
.form-style-6 input[type="search"]:focus,
.form-style-6 input[type="time"]:focus,
.form-style-6 input[type="url"]:focus,
.form-style-6 textarea:focus,
.form-style-6 select:focus
{
    box-shadow: 0 0 5px #1b1b1b;
    padding: 3%;
    border: 1px solid #1b1b1b;
}

.form-style-6 input[type="submit"],
.form-style-6 input[type="button"]{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 3%;
    background: #d9d9d9;
    border: 2px solid #956300; 
    font-weight: bold;
    color: #956300;
}
.form-style-6 input[type="submit"]:hover,
.form-style-6 input[type="button"]:hover{
    background: #1b1b1b;
}

/*hover image*/
.hvrbox,
.hvrbox * {
    box-sizing: border-box;
}
.hvrbox {
    position: relative;
    display: inline-block;
    overflow: hidden;
    max-width: 100%;
    height: 300px;
    width: 300px;
}
.hvrbox img {
    max-width: 100%;
}
.hvrbox .hvrbox-layer_bottom {
    display: block;
}
.hvrbox .hvrbox-layer_top {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    -moz-transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}
.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
    opacity: 1;
}
.hvrbox .hvrbox-text {
    position: relative;
    top: 40%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.hvrbox .hvrbox-text_mobile {
    font-size: 15px;
    border-top: 1px solid rgb(179, 179, 179); /* for old browsers */
    border-top: 1px solid rgba(179, 179, 179, 0.7);
    margin-top: 5px;
    padding-top: 2px;
    display: none;
}
.hvrbox.active .hvrbox-text_mobile {
    display: block;
}
.hvrbox-text a{
    text-decoration: none;
    color: white;
    font-family:'Raleway';
    font-size: 12px;
    color: #FF6C6C;
    border:1px solid white;
    padding:10px;
    margin-left: 5px;
    background: white;
    opacity: 0.75;
}
.hvrbox .modal-header {
padding-bottom: 45px;
border-bottom: 1px solid #e5e5e5;
}