table
{
    width:100%;
    height:10%;
    border-collapse: collapse;
    background-color:#F7F8F5;
}
.p
{
    width:100%;
    height:100%;
    border-collapse: collapse;
    background-color:#F7F8F5;
}
.plein_lar
{
    font-size:large;
    text-align:center;
    border:1px solid grey;
    font-weight:bold;
    background-color:white;
    width: 100px;
}
.plein
{
    font-size:large;
    text-align:center;
    border:1px solid grey;
    font-weight:bold;
    background-color:white;
    width: 100px;
}

.plein_work
{
    font-size:large;
    text-align:center;
    border:1px solid grey;
    font-weight:bold;
    background-color:#86CC00;
    width: 100px;
}
.plein_work_reserv
{
    font-size:large;
    text-align:center;
    border:1px solid grey;
    font-weight:bold;
    background-color:red;

}
.plein_bloc
{
    font-size:large;
    text-align:center;
    border:1px solid grey;
    font-weight:bold;
    background-color:grey;
    width: 100px;
}

.plein_dim
{
    font-size:large;
    text-align:center;
    border:2px solid grey;
    font-weight:bold;
    background-color:white;
    width: 100px;
}
.plein_lar{
    border:2px solid grey;
}
.plein_case{
    display: none;
}
#cont
{
    height:80%;
    width:80%;
    margin-left:auto;
    margin-right:auto;
}
@media (max-width: 1020px) {
    .plein_lar{
        display: none !important;
    }
    .plein_case{
        display: block !important;
    }


}
@media (min-width: 1021px) {

    .plein_case {
        display: none !important;
    }
    .plein_dim {
        display: none !important;
    }
}