.navbar-inverse {
    background-color: #fff;
    border-color: #86CC00;
}
.navbar-inverse .navbar-nav>li>a {
     color: #86CC00;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
}
.navbar-inverse .navbar-nav>li>a:hover {
    color: #b6bd02;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
}
.navbar-brand{
    color:#969696;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:20px;
}
.navbar-brand:hover{
    color:#969696 !important;
}
/* page v_info_capteur.php*/
.text_info
{
    text-align: center;
    color:#808080;
    font-size: 20px;
    font-weight: normal;
}

.white-box {
    cursor:pointer;
    background: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
}

#box{
    cursor:pointer;
    background: #ffffff;
    padding: 5px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
    width:200px;
}

.box-title span
{
    color:#66736a;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
}

.box-title:nth-child(1)
{
    font-size: 30px;
    color:#86CC00;
}
.box-title-plus
{
    font-size: 20px;
    color:#67716a;
}
.btn_style a
{
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic ;
    background: #67716a;
    font-size: 20px;
    letter-spacing: 3px;
    color:#86CC00;
}
.btn_style span{
    font-size:20px;
    color:#86CC00;
}
.btn_style a:hover
{
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic ;
    background: #616a64;
    font-size: 20px;
    color:#86CC00;
}
h2{
    color:#828282;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.info-box__content p{
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:#969696;

}
#notification h1
{
    color: #86CC00;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
}
#notification h2
{
    color: #86CC00;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
}
#notification span {
    color: #969696;
    font-size: 35px;
}
.field {
    border-radius: 10px;
    border: 2px solid #86CC00;
}
.profil{
    background-color:#fff !important ;
    text-align: center;
}
.profil h1
{
    color: #86CC00;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 25px;
    font-weight: bold;
}

.profil h2
{
    color:#828282;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:20px;
}
.profil h3
{
    color:#969696;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:18px;
}
.profil p
{
    color:#C9C9C9;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:17px;
}
body{
    background:#C9C9C9 ;
    height:100%;

}
.container
{
    background: #fff;
    height:auto;
}
.container_deux
{
    background: #fff;
    height:100%;
}
.listeEtoile ul li {
    display: inline-block;
    width: 16px;
    text-align: left;
    list-style-type: none;
}

.glyphicon:before {
    visibility: visible;
}
.glyphicon.glyphicon-star-empty:checked:before {
    content: "\e006";
}
input[type=radio].glyphicon{
    visibility: hidden;

}