.form {
    background: #f6f6f7;
    padding: 40px;
    max-width: 600px;
    margin: 40px auto;
    border-radius: 4px;

}

.tab-group {
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0;
}
.tab-group:after {
    content: "";
    display: table;
    clear: both;
}
.tab-group li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    color: #86CC00;
    background-color: #C7C7B8;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    float: left;
    width: 50%;
    text-align: center;
    cursor: pointer;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}
.tab-group li a:hover {
    color: #C7C7B8;
    background-color: #86CC00;
}
.tab-group .active a {
    color: #C7C7B8;
    background-color: #86CC00;
}

.tab-content > div:last-child {
    display: none;
}



label {
    position: absolute;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
    left: 13px;
    color:#cccccc;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    -webkit-backface-visibility: hidden;
    pointer-events: none;
    font-size: 17px;
}
label .req {
    margin: 2px;
    color: #86CC00;
}

label.active {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    left: 2px;
    font-size: 14px;
}
label.active .req {
    opacity: 0;
}

label.highlight {
    color: #67716a;
}

input, textarea {
    font-size: 22px;
    display: block;
    width: 100%;
    padding: 13px 10px;
    margin-top: 10px;
    background: none;
    background-image: none;
    border: 1px solid #a0b3b0;
    color: #67716a;
    border-radius: 0;
    -webkit-transition: border-color .25s ease, box-shadow .25s ease;
    transition: border-color .25s ease, box-shadow .25s ease;
}
input:focus, textarea:focus {
    outline: 0;
    border-color: #1ab188;
}

textarea {
    border: 2px solid #a0b3b0;
    resize: vertical;
}

.field-wrap {
    position: relative;
    margin-bottom: 40px;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.top-row:after {
    content: "";
    display: table;
    clear: both;
}
.top-row > div {
    float: left;
    width: 48%;
    margin-right: 4%;
}
.top-row > div:last-child {
    margin: 0;
}

.button {
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 15px 0;
    font-size: 2rem;
    font-weight: 600;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: .1em;
    color: #C7C7B8;
    background-color: #86CC00;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-appearance: none;
}
.button:hover, .button:focus {
    background: #b6bd02;
}

.button-block {
    display: block;
    width: 100%;
}

.forgot {
    margin-top: -20px;
    text-align: right;
}

.modal-header {

    border-bottom: 1px solid #86CC00 !important;

}
.title_form_ponct{
    display: block;
    text-decoration: none;
    padding: 15px;
    margin-bottom: 30px;
    background-color: #86CC00;
    color: #C7C7B8;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    width: 100%;
    text-align: center;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}
.title_form_ponct h1{
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 30px !important;
    font-weight: 600 !important;
    color: #C7C7B8 !important;

}
.title_form{
    display: block;
    text-decoration: none;
    padding: 15px;
    margin-bottom: 30px;
    background-color: #86CC00;
    color: #C7C7B8;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    width: 100%;
    text-align: center;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}
.title_form h1{
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 30px;
    font-weight: 600;
}
.title_form_enfant{
    display: block;
    text-decoration: none;
    padding: 15px;
    margin-bottom: 30px;
    color: #86CC00;
    background-color: #C7C7B8;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    width: 100%;
    text-align: center;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}
.title_form_enfant h2{
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 600;
}
.title_nb_enfant{
    display: block;
    text-decoration: none;
    padding: 15px;
    margin-bottom: 30px;
    color: #86CC00;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    width: 100%;
    text-align: center;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}
.title_nb_enfant h3{
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 600;
}
.nombre_enfant{
    display: block;
    text-decoration: none;
    padding: 15px;
    margin-bottom: 30px;
    color: #86CC00;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    width: 100%;
    text-align: center;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}
.form_langue {
    display: block;
    text-decoration: none;
    padding: 15px;
    margin-bottom: 30px;
    color: #86CC00;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    width: 100%;
    text-align: center;
    -webkit-transition: .5s ease;
}
.disp_date {
    color: #86CC00;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    margin: 20px;
}
.select_jour{
    display: block;
    text-decoration: none;
    padding: 15px;
    margin-bottom: 30px;
    color: #86CC00;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    width: 100%;
    text-align: center;
    -webkit-transition: .5s ease;
}
.disp_heure {
    display: block;
    text-decoration: none;
    padding: 15px;
    margin-bottom: 30px;
    color: #86CC00;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    width: 100%;
    text-align: center;
    -webkit-transition: .5s ease;
}
.disp_jour {
    display: block;
    text-decoration: none;
    padding: 15px;
    margin-bottom: 30px;
    color: #86CC00;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    width: 100%;
    text-align: center;
    -webkit-transition: .5s ease;
}
.langue {
    display: block;
    text-decoration: none;
    padding: 15px;
    margin-bottom: 30px;
    color: #86CC00;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    width: 100%;
    text-align: center;
    -webkit-transition: .5s ease;
}
.disp_nb_enfant{
    display: block;
    text-decoration: none;
    padding: 15px;
    margin-bottom: 30px;
    color: #86CC00;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    width: 100%;
    text-align: center;
    -webkit-transition: .5s ease;
}

.title_form_heure{
    display: block;
    text-decoration: none;
    padding: 2px;
    margin-bottom: 30px;
    color: #86CC00;
    background-color: #C7C7B8;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    width: 100%;
    text-align: center;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}
#disp_date_perso {
    display: block;
    text-decoration: none;
    padding: 15px;
    margin-bottom: 30px;
    color: #86CC00;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    width: 100%;
    text-align: center;
    -webkit-transition: .5s ease;

}
.title_form_langue{
    display: block;
    text-decoration: none;
    padding: 15px;
    margin-bottom: 30px;
    color: #86CC00;
    background-color: #C7C7B8;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    width: 100%;
    text-align: center;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}

.title_form_langue h2{
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 600;
}
.title_form_photo{
    display: block;
    text-decoration: none;
    padding: 15px;
    margin-bottom: 30px;
    color: #86CC00;
    background-color: #C7C7B8;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    width: 100%;
    text-align: center;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}
.title_form_photo h2{
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 600;
}
.adhésion{
    padding: 30px;
}

.adhésion p{
    text-align: center;
    color: #86CC00;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
}
button a{
    text-decoration: none;
    color:#C7C7B8;
}
button a:hover{
    text-decoration: none;
    color:#C7C7B8 !important;
}
.choix {
    color: #86CC00;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    margin: 20px;
}
#disponible h2{
      display: block;
      text-decoration: none;
      padding: 15px;
      margin-bottom: 30px;
      color: #86CC00;
      background-color: #C7C7B8;
      font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 25px;
      width: 100%;
      text-align: center;
      -webkit-transition: .5s ease;
      transition: .5s ease;
  }
#dispo_parent_garde h2{
    display: block;
    text-decoration: none;
    padding: 15px;
    margin-bottom: 30px;
    color: #86CC00;
    background-color: #C7C7B8;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 25px;
    width: 100%;
    text-align: center;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}
#dispo_parent_garde_ponct h2{
    display: block;
    text-decoration: none;
    padding: 15px;
    margin-bottom: 30px;
    color: #86CC00;
    background-color: #C7C7B8;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 25px;
    width: 100%;
    text-align: center;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}